In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import sqlite3

In [2]:
start = datetime.datetime(2020, 1, 1)
end = datetime.datetime(2022, 8, 1)
df = web.DataReader("078930.KS", "yahoo", start, end)

In [3]:
df.head()

               High      Low     Open    Close    Volume     Adj Close
Date
2020-01-02  51400.0  50000.0  51300.0  50000.0  143431.0  45226.398438
2020-01-03  50700.0  49700.0  50000.0  50300.0  126085.0  45497.753906
2020-01-06  51100.0  49950.0  50600.0  50100.0  154646.0  45316.847656
2020-01-07  50500.0  49900.0  50100.0  50500.0  107859.0  45678.660156
2020-01-08  49250.0  47600.0  49050.0  48800.0  193500.0  44140.964844

In [4]:
con = sqlite3.connect(r"C:\bigdata0214_0811\jupyterws\Algorithmic Trading\project\revision_study\data\kospi.db")
df.to_sql('078930', con, if_exists='replace')

C:\Users\NOTEBOOK\.conda\envs\py36\lib\site-packages\pandas\core\generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [5]:
readed_df = pd.read_sql("SELECT * FROM '078930'", con, index_col = 'Date')

In [6]:
readed_df.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02 00:00:00,51400.0,50000.0,51300.0,50000.0,143431.0,45226.398438
2020-01-03 00:00:00,50700.0,49700.0,50000.0,50300.0,126085.0,45497.753906
2020-01-06 00:00:00,51100.0,49950.0,50600.0,50100.0,154646.0,45316.847656
2020-01-07 00:00:00,50500.0,49900.0,50100.0,50500.0,107859.0,45678.660156
2020-01-08 00:00:00,49250.0,47600.0,49050.0,48800.0,193500.0,44140.964844

여기까지는 datareader를 통해서 진행한 부분.